:root {
    /*Colours*/
    --color-text: #fff;
    --color-primary: #00ADB5;
    --color-secondary: #393E46;
    --color-dark: #1f242c;
    --color-bg: #222831;

    /*Fonts*/
    --font-robot: "Roboto";
}